.HomeView{
	display: flex;
	flex-direction: row;
	
	.ui-card{
		margin: 16px; 
		height: 80px;
		display: flex;
		flex-direction: row;
		text-decoration: none;
		
		h1{
			font-size: 24px;
			align-self: center; 
			font-weight: 100;
			letter-spacing: .1em;
		}
	}
}