<script id="DashMainView" type="text/html">
<div class="DashMainView">

	<div class="column">
		<div class="ui-card cpu-card summary">
			<header>CPU</header>
			<section class="content">
				<div class="metric">
					<div class="data"><span class="dx dx-user">...</span>%</div>
					<label>USER</label>
				</div>

				<div class="metric">
					<div class="data"><span class="dx dx-sys">...</span>%</div>
					<label>SYS</label>
				</div>				
			</section>
		</div>

		<div class="ui-card cpu-card details">

			<header>Top CPU Processes</header>

			<section class="content">
				<div class="ui-table">
					<div class="ui-thead">
						<div class="name">Name</div>
						<div class="pid">PID</div>
						<div class="cpu">Cpu</div>
					</div>

					<div class="ui-tbody">
						<div class="ui-tholder">LOADING....</div>						
					</div>
									
				</div>			
			</section>
		</div>	
	</div>


	<div class="column">
		<div class="ui-card mem-card summary">
			<header>Memory</header>
			<section class="content">
				<div class="metric">
					<div class="data"><span class="dx dx-used">...</span></div>
					<label>USED</label>
				</div>

				<div class="metric">
					<div class="data"><span class="dx dx-unused">...</span></div>
					<label>UNUSED</label>
				</div>					
			</section>
		</div>

		<div class="ui-card mem-card details">
			<header>Top Memory Processes</header>

			<section class="content">
				<div class="ui-table">
					<div class="ui-thead">
						<div class="name">Name</div>
						<div class="pid">PID</div>
						<div class="mem">Mem</div>
					</div>

					<div class="ui-tbody">
						<div class="ui-tholder">LOADING....</div>				
					</div>

				</div>			
			</section>
		</div>	
	</div>


</div>
</script>

<script id="DashMainView-mem-trs" type="text/html">
{{#each items}}
<div class="ui-tr {{changed}}">
	<div class="name">{{name}}</div>
	<div class="pid">{{pid}}</div>
	<div class="mem">{{mem.virtual}}</div>
</div>
{{/each}}
</script>

<script id="DashMainView-cpu-trs" type="text/html">
{{#each items}}
<div class="ui-tr {{changed}}">
	<div class="name">{{name}}</div>
	<div class="pid">{{pid}}</div>
	<div class="cpu">{{cpu}}</div>
</div>
{{/each}}
</script>